body {
    background-color: rgb(240, 237, 213);
    font-family: 'Ruda', sans-serif;
    margin: 0;
}

.header {
    background-color: rgb(70, 18, 229);
    padding: 20px;
    padding-left: 30px;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    color: rgb(244, 231, 189);
}

.inputs {
    margin: 10px auto;
    margin-left: 175px;
    width: 90vw;
    justify-content: space-evenly;
    display: flex;
}

#textInput {
    width: 65vw;
    height: 2rem
}

#submitButton {
    height: 2.4rem;
    width: 8vw;
    background-color: rgb(70, 18, 229);
    color: white;
}

#main-display {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
}

#navbar {
    background-color: rgb(70, 18, 229);
    color: white;
    position: fixed;
    padding: 10px;
    top: 140px;
    height: 100vh;
    padding-right: 50px;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: large;
}

#navbar li {
    display: block;
    line-height: 3em;
}

.valid {
    color: rgb(82, 187, 61)
}

.invalid {
    color: rgb(210, 49, 49);
}

#scrabble-value {
    font-weight: 900;
}

h2 {
    color: rgb(233, 61, 236);
}

dt {
    font-weight: bold;
    font-style: italic;
}

th, td {
    text-align: center;
    padding: 10px;
}

#definitions dd {
    font-size: 13px;
}

aside {
    justify-self: flex-end;
    padding: 10px;
    margin: 5%;
}

#random-generated, #scrabble-list {
    justify-content: center;
    border: 5px solid rgb(97, 185, 240);
    padding: 10px;
    border-radius: 10%;
    margin: 20px;
}

#random-generated {
    text-align: center;
}

#random-word {
    color: rgb(10, 113, 177);
    cursor: pointer;
}

.high-scorer {
    line-height: 2em;
    cursor: pointer;
    text-decoration: underline dashed;
}

hr, #footnotes {
    margin-left: 300px;
    margin-right: 30px;
}